*{
  padding: 0px;
  margin: 0px;
  color: white;
}

body{
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/bck.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 170px;
}
.profile{
  height: 150px;
  width: 150px;
  z-index: 11;
  border-radius: 50%;
  background-image: url(./assets/pf.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  height: 620px;
  width: 450px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.317);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(10px);
  animation-name: colorChange;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes colorChange {
  0%   {
    background-color: rgba(255, 255, 255, 0.317);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(10px);
  }
  25%  {
    background-color: rgba(255, 0, 200, 0.194);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(10px);
  }
  50%  {
    background-color: rgba(0, 255, 55, 0.153);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(10px);
  }
  100% {
    background-color: rgba(106, 0, 255, 0.187);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(10px);
  }
}


.work{
  text-align: center;
}
.vv{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-top: 20px;
  border-radius: 30px;
}
.exp{
  height: 200px;
  width: 390px;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(239, 183, 183, 0.043);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(20px);
}
.ap{
  margin-top: 30px;
  line-height: 1.6;
}

.ll{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-top: 20px;
  border-radius: 30px;
}

.soc{
  height: 75px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 430px) {
  .card{
  height: 600px;
  width: 359px;
  z-index: 10;
}
}

.a{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: rgba(239, 183, 183, 0.043);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(20px);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.b{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: rgba(239, 183, 183, 0.043);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(20px);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.c{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: rgba(239, 183, 183, 0.043);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(20px);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.d{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: rgba(239, 183, 183, 0.043);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(20px);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.a:hover{
  background-color: rgb(24, 32, 32);
  transform: scale(1.2);
}
.b:hover{
  background-color: rgb(215, 55, 11);
  transform: scale(1.2);
}
.c:hover{
  background-color: rgb(255, 32, 32);
  transform: scale(1.2);
}
.d:hover{
  background-color: rgb(107, 1, 255);
  transform: scale(1.2);
}